* {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-bottom: 10px;
}

input {
  margin-bottom: 5px;
}

div {
  text-align: center;
  justify-content: center;
}


body {
  justify-content: center;
  
}

hr {
  margin: 2px;
}
